@font-face {
    font-family: 'DM Mono';
    src: url(../fonts/DMMono-Regular.ttf);
}

@font-face {
    font-family: 'Auidiowide';
    src: url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}