@import 'vars';
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'btn';
@import 'icon';


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $black;
    color: $white;
}


@import 'blocks/header';